/* CSS files add styling rules to your content */

body {
  font-family: abel, abel, abel;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: 	#FFB6C1;
}
h2{
  font-style: italic;
  font-style: bold;
  color: 	#FFB6C1
}
p {
  border: 2px solid red;
  border-radius: 10px
}